DISCORD_TOKEN=votre_token_discord_ici
CLIENT_ID=id_client_bot
GUILD_ID=id_serveur_discord

WELCOME_CHANNEL_ID=id_canal_bienvenue
NEWS_CHANNEL_ID=id_canal_actualites

NEWS_SITE_1_URL=https://exemple-site-1.com/actualites
NEWS_SITE_2_URL=https://exemple-site-2.com/news

NEWS_REFRESH_INTERVAL=*/15 * * * *
